<section class="skills-container">
  <div class="skills swiper">
    <ul class="skill-list swiper-wrapper">
      <li class="skill-item swiper-slide skill-item-circle">HTML/CSS</li>
      <li class="skill-item swiper-slide skill-item-circle">JavaScript</li>
      <li class="skill-item swiper-slide skill-item-circle">TypeScript</li>
      <li class="skill-item swiper-slide skill-item-circle">React</li>
      <li class="skill-item swiper-slide skill-item-circle">Node.js</li>
      <li class="skill-item swiper-slide skill-item-circle">React Native</li>
      <li class="skill-item swiper-slide skill-item-circle">Soft skills</li>
    </ul>
  </div>
  <svg class="btn-next">
    <use href="./img/about-me/skills.svg#icon-arrow-narrow-right"></use>
  </svg>
</section>
