<section class="covers">
  <div class="content">
    <div class="marquee">
      <div class="marquee__inner">
        <picture class="marquee__line">
          <source srcset="./img/covers/body@2x.jpg" media= />
          <img src="./img/covers/body@1x.jpg" alt="Body" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/brand@2x.jpg" />
          <img src="./img/covers/brand@1x.jpg" alt="Brand" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/traditional@2x.jpg" />
          <img src="./img/covers/traditional@1x.jpg" alt="Traditional" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/business@2x.jpg" />
          <img src="./img/covers/business@1x.jpg" alt="Business" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/english@2x.jpg" />
          <img src="./img/covers/english@1x.jpg" alt="English" />
        </picture>
      </div>
      <div class="marquee__inner">
        <picture class="marquee__line">
          <source srcset="./img/covers/finances@2x.jpg" />
          <img src="./img/covers/finances@1x.jpg" alt="Finances" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/english@2x.jpg" />
          <img src="./img/covers/english@1x.jpg" alt="English" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/fruit@2x.jpg" />
          <img src="./img/covers/fruit@1x.jpg" alt="Fruit" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/mimino@2x.jpg" />
          <img src="./img/covers/mimino@1x.jpg" alt="Mimino" />
        </picture>

        <picture class="marquee__line">
          <source srcset="./img/covers/traditional@2x.jpg" />
          <img src="./img/covers/traditional@1x.jpg" alt="Traditional" />
        </picture>
      </div>
      <div class="marquee__inner">
        <picture class="marquee__line">
          <source srcset="./img/covers/body@2x.jpg" />
          <img src="./img/covers/body@1x.jpg" alt="Body" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/fruit@2x.jpg" />
          <img src="./img/covers/fruit@1x.jpg" alt="Fruit" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/brand@2x.jpg" />
          <img src="./img/covers/brand@1x.jpg" alt="Brand" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/business@2x.jpg" />
          <img src="./img/covers/business@1x.jpg" alt="Business" />
        </picture>
        <picture class="marquee__line">
          <source srcset="./img/covers/english@2x.jpg" />
          <img src="./img/covers/english@1x.jpg" alt="English" />
        </picture>
      </div>
      <div class="marquee__inner">
        <picture class="marquee__line">
          <source
            srcset="./img/covers/finances@2x.jpg"
            media="(max-width: 767px)"
          />
          <img src="./img/covers/finances@1x.jpg" alt="Finances" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="./img/covers/fruit@2x.jpg"
            media="(max-width: 767px)"
          />
          <img src="./img/covers/fruit@1x.jpg" alt="Fruit" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="./img/covers/mimino@2x.jpg"
            media="(max-width: 767px)"
          />
          <img src="./img/covers/mimino@1x.jpg" alt="Mimino" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="./img/covers/traditional@2x.jpg"
            media="(max-width: 767px)"
          />
          <img src="./img/covers/traditional@1x.jpg" alt="Traditional" />
        </picture>
        <picture class="marquee__line">
          <source
            srcset="./img/covers/brand@2x.jpg"
            media="(max-width: 767px)"
          />
          <img src="./img/covers/brand@1x.jpg" alt="Brand" />
        </picture>
      </div>
    </div>
  </div>
</section>
