<header class="header">
  <div class="header container">
    <ul class="header-list">
      <li class="li-logo">
        <a href="#" class="header-link logo"
          ><img src="./img/header/logo.png" width="80" height="80" />
          <svg width="84" height="19">
            <use href="./img/header/icons.svg#icon-jefferson"></use>
          </svg>
        </a>
      </li>
      <li class="li-menu">
        <a href="#" class="header-link menu">Menu</a>
        <nav class="header-navigation visually-hidden">
          <ul class="nav-list">
            <li><a href="#" class="nav-link">About me</a></li>
            <li><a href="#" class="nav-link">Benefits</a></li>
            <li><a href="#" class="nav-link">Projects</a></li>
            <li><a href="#" class="nav-link">FAQ</a></li>
          </ul>
        </nav>
      </li>
      <li class="li-order">
        <div class="order">
          <a href="#" class="header-link">Order the project</a>
        </div>
      </li>
    </ul>
    <button type="button" class="burger visually-hidden">
      <svg width="21" height="9">
        <use href="./img/header/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
